Source: cmemdrv-dkms
Section: misc
Priority: optional
Maintainer: Yuya Hamamachi <yuya.hamamachi.sx@renesas.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), dkms
Standards-Version: 4.6.2
Homepage: https://github.com/renesas-rcar/cmem

Package: sparrow-hawk-kernel-module-cmemdrv
Architecture: all
Provides: cmemdrv-modules
Depends: ${misc:Depends},
    build-essential,
    dkms,
Description: cmem driver for Sparrow Hawk kernel
