Source: sparrow-hawk-libcamera
Section: misc
Priority: optional
Maintainer: Yuya Hamamachi <yuya.hamamachi.sx@renesas.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), gcc-aarch64-linux-gnu
Standards-Version: 4.6.2
Homepage: https://git.libcamera.org/libcamera/libcamera.git

Package: sparrow-hawk-libcamera
Architecture: all
Depends: ${misc:Depends},
    libdw1, libunwind8, libevent-dev, libdrm2, libtiff6,
Description: libcamera for Sparrow Hawk kernel
Provides: gstreamer1.0-libcamera
Conflicts: gstreamer1.0-libcamera
Replaces: gstreamer1.0-libcamera
